body {
    background: url("../img/index.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#cent {
    padding: 100px;
    vertical-align: middle;
}

#btn1 {
    background-color: orange;
    color: white;
}

p {
    font-size: 30px;
    color: orange;
    padding-top: 150px;
    padding-left: 60px;
}

